[submodule "www/app/thumbtri"]
	path = www/app/thumbtri
	url = git@github.com:oshiimizunohuta/thumbtri.git
[submodule "www/app/litrosound"]
	path = www/app/litrosound
	url = git@github.com:oshiimizunohuta/litrokeyboard.git
