<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><?php echo "bitchunk | ケモノ系創作サイト"; ?></title>
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
		
		<meta name="description" content="個人創作サイト。オリジナルのケモノキャラクターを中心とする絵、ゲーム、Web開発等総合創作物が置いてあります">
		<meta name="keywords" content="ケモノ,いたち,イタチ,鼬" />
		<meta name="ROBOTS" content="NOINDEX,NOFOLLOW" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="author" content="しふたろう">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@shiftal_on">
		<meta name="twitter:title" content="bitchnk">
		<meta name="twitter:description" content="ケモノ系創作物置き場">
		<meta name="twitter:creator" content="@shiftal_on">
		<meta name="twitter:image:src" content="http://bitchunk.kemono.jp/bcbanner_st.png">
		<meta name="twitter:domain" content="bitchunk.kemono.jp">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="stylesheet" href="css/common.css" />
		
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	</head>
	<body>
		<header>
			<h1>bitchunk</h1>
		</header>
