IndexIgnore *
Options -Indexes +FollowSymLinks
AddHandler cgi-script htaccess 

<Files ~ "\.(html|php|js|png|css)$">
Header add Pragma "no-cache"
Header set Cache-Control no-cache
</Files>

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/MP3Dumper.php$
RewriteCond %{REQUEST_URI} ^/music.*$
RewriteRule ^(.*)$ MP3Dumper.php [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^/ImageDumper.php$
#RewriteCond %{REQUEST_URI} ^/pictures.*$
#RewriteRule ^(.*)$ ImageDumper.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/DispatchImage.php$
RewriteCond %{REQUEST_URI} ^/pictures.*$
RewriteRule ^(.*)$ DispatchImage.php [L]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/robots.txt$
RewriteCond %{REQUEST_URI} !^/sitemap.xml$
RewriteCond %{REQUEST_URI} !^/info.php$
RewriteCond %{REQUEST_URI} !^/css.*$
RewriteCond %{REQUEST_URI} !^/images.*$
RewriteCond %{REQUEST_URI} !^/js.*$
RewriteCond %{REQUEST_URI} !^/pictures.*$
RewriteCond %{REQUEST_URI} !^/music.*$
RewriteCond %{REQUEST_URI} !^/app.*$
RewriteCond %{REQUEST_URI} !^/app/.*/.*$
RewriteCond %{REQUEST_URI} !^/DispatchController.php$
RewriteRule ^(.*)$ DispatchController.php [L]



