<script type="application/javascript" language="Javascript">

window.onload=function(){
	focusIFrame();
	document.body.addEventListener('mouseup', focusIFrame, true);
	document.body.addEventListener('mousedown', focusIFrame, true);
};
function focusIFrame()
{
	var 
	doc = document.getElementsByTagName('iFrame')[0]
	;
	doc.focus();
	
}

</script>
<div>
	<div align="center" style="padding-top:30px;">
		<div class="mainbox">
			<p>以前windows用に作ったPSGちっくな音が出るキーボードのブラウザ版が出来上がる予定です。(※音量注意)</p>
			<p>(ならなくなったら外側をゆっくりクリックしてみてください)</p>
			<div>
				<iframe src="/app/litrosound" scrolling="no" width="640" height="480"></iframe>
			</div>
			<p style="text-align:center;">操作</p>
			<p>カーソルキー：チャンネルパラメータのカーソル移動</p>
			<p>＜ or ＞ キー：チャンネルパラメータの調整</p>
			<p>－ or ＾ キー：オクターブの調整</p>
			<p>そのほか：鍵盤</p>
			<p style="text-align:center;">パラメータ（今とりあえず機能しているもの）</p>
			<p>ＶＯＬＵＭ：音量</p>
			<p>ＴＹＰＥ：波形タイプ３種</p>
		</div>
	</div>
</div>