@CHARSET "UTF-8";
body{
	background-color:#082010;
	font-size:16px;
	border-style: none; border-width: 1px;
	text-shadow:0px 0px 1px #ddeeff;
	background-image:url(/images/common/crysta_top_h.png);
	color:hsl(180, 50%, 80%);
	margin:0;
	padding:0;
}
header{
	margin:0;
	padding:8px;
}
nav{
	margin:0;
	padding:8px;
}
h1{
	font-size:12px;
}

.donate{
	float:right;
}
.clear{
	font-size:0;
	line-height:0;
	visibility: hidden;
	display:block;
	clear:both;
}

.mainbox{
	width:640px;
	background: hsla(220, 50%, 10%, 0.6);
	padding: 16px;
	border-radius:16px;
	border: 8px dotted hsla(220, 60%, 90%, 0.8);
	margin:30px auto;
	text-align: center;
	
}
#contentsBody{
	min-height:480px;
	margin:8px;

}

footer{
}

footer > p{
	text-align:right;
	background:hsla(220, 60%, 20%, 0.8);
	width: 70%;
	max-width:320px;
	min-width:270px;
	float:right;
	margin:0 0 16px;
	padding: 8px;
	border-radius:20px 0 0 20px;
}
a{
	font-size:20px;
	text-shadow:none;
	color: hsl(80, 90%, 60%);
	font-weight: bold;
	text-decoration:underline;
}
a:hover{
	color: hsl(80, 90%, 80%);
	text-decoration:none;
}
.soundBox{
	text-align: right;
}
audio{
	vertical-align: middle;
}

span{
	vertical-align: middle;
}

.sublink a{
	font-size:14px;
}

.introduction{
	background:hsl(140, 90%, 90%);
	padding: 10px;
	margin: 40px;
	border-radius: 80px;
}

footer span{
	vertical-align:bottom;
	font-size:14px;
	margin: 0 4px;
}
footer span.siteName{
	font-weight:bold;
}
footer span.auther{
}
footer span.copyright{
}

.introduction p{
	color: hsl(140, 30%, 50%);
	font-weight: bold;
}

.introduction img{
	border:  4px solid hsl(140, 30%, 60%);
}
